{% extends "../layouts/base.twig" %}

{% block main_content %}
	
	<h1>Manage</h1>
	<nav>
		<ul>
			<li><a href="/products">Products</a></li>
			<li><a href="/variants">Variants</a></li>
			<li><a href="/images">Images</a></li>
		</ul>
	</nav>

{% endblock %}

{% block title %}Home View{% endblock %}