<form
  enctype="multipart/form-data"
  method="POST"
  action="/images/{% if image.id %}{{ image.id }}{% endif %}">

  {% if image.id %}
    <input type="hidden" name="id" value="{{ image.id }}">
  {% endif %}

  <div>
    <label>Parent Variant:</label>
    <select name="variantId">
      <option>Select Variant...</option>
      {% for variant in variants %}
        <option value="{{ variant.id }}" {% if variant.id == image.variantId %}selected="selected"{% endif %}>
          {{ variant.title }}
        </option>
      {% endfor %}
    </select>
  </div>
  <div>
    <label for="image">Upload Image:</label>
    <br />
    <input type="file" name="image" id="image" />
  </div>
  <div>
    <input type="submit" type="submit" />
  </div>
</form>